Estate:House:Basement:Kitchen - knife
Estate:House:Basement:Stairs:Bedroom - pillow
Estate:House:Hallway - keys
Estate:Garden:Toolshed - knife
Estate:Garden - Grass
Estate:Garden - Trees
Estate:House:Basement:Stairs:Bedroom:Bathroom - hairdryer
Estate:House:Basement:Stairs:Bedroom - cat
Estate:House:Hallway - aquarium
Estate:House:Hallway - sofa